
.page__body {/*https://yandex.ru/video/preview/6362225654409346625*/
  background: #000000;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.theme-change[data-theme= "light"] {
	display: block;
}

.theme-change[data-theme= "dark"] {
	display: none;
}
