/*
//-----------------------------------------
// Fonts
//-----------------------------------------
*/

@font-face {
  font-family: "Lato";
  src:
    url("../../fonts/lato/Lato-Regular.woff2") format("woff2"),
    url("../../fonts/lato/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src:
    url("../../fonts/oswald/oswaldregular.woff2") format("woff2"),
    url("../../fonts/oswald/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*
//-----------------------------------------
// Scaffolding
//-----------------------------------------
*/

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:hover,
*:active,
*:focus,
*:focus-within {
  transition:
    background-color 0.2s,
    color 0.2s,
    border 0.2s,
    opacity 0.2s;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* page */
.page {
  height: 100%;
  margin: 0 auto;
}

.page__body {
  margin: 0;
}
/* /page */

/* main-header */
.main-header {
  min-height: 100%;
  background-color: #ffffff;
}

.main-header__wrapper {
  position: relative;
  padding: 13px 20px 0;
  width: 320px;
  margin: 0 auto;
}

.main-header__wrapper--modifier-catalog::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ebebeb;
  top: 100%;
  z-index: 2;
  transform: translateY(-1px);
}

.main-header__wrapper-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  min-height: 38px;
  padding-bottom: 14px;
}

.main-header__logo {
  display: flex;
  gap: 56px;
  align-items: center;
  flex-wrap: wrap;
  width: 220px;
  height: 38px;
}

.main-header__main-nav {
  padding-top: 1px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .main-header {
    position: static;
  }

  .main-header__wrapper {
    padding: 25px 30px 0;
    width: 768px;
    margin: 0 auto 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .main-header__wrapper--modifier-catalog::after {
    display: none;
  }

  .main-header__wrapper-logo {
    gap: 20px;
    padding-bottom: 0;
    width: 174px;
  }

  .main-header__logo {
    gap: 13px;
    width: 174px;
    height: 50px;
  }

  .main-header__main-nav {
    margin-top: 0;
    transform: translateX(16px);
  }
}

@media (min-width: 1440px) {
  .main-header {
    position: static;
  }

  .main-header__wrapper {
    padding: 55px 110px 0;
    width: 1440px;
    margin: 0 auto 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .main-header__wrapper--modifier-catalog::after {
    display: none;
  }

  .main-header__wrapper-logo {
    gap: 20px;
    padding-bottom: 0;
    min-height: 59px;
  }

  .main-header__logo {
    gap: 14px;
    width: 475px;
    height: 59px;
  }

  .main-header__main-nav {
    margin-top: 0;
  }
}
/* /main-header */

/* logo */
.logo__logo-img {
  height: 38px;
  width: 33px;
}

.logo__logo-text {
  display: block;
  width: 101px;
  height: 22px;
}

.logo__logo-img:not(:first-child):not(:last-child),
.logo__logo-text:not(:first-child):not(:last-child) {
  margin-right: 10px;
}

.logo__logo-text--modifier {
  width: 128px;
  height: 26px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .logo__logo-img {
    margin-right: 0;
    height: 50px;
    width: 60px;
  }

  .logo__logo-img:not(:first-child):not(:last-child),
  .logo__logo-text:not(:first-child):not(:last-child) {
    margin-right: 0;
  }

  .logo__logo-text {
    width: 101px;
    height: 22px;
    transform: translateY(-1px);
  }

  .logo__logo-text--modifier {
    transform: translateY(0);
    width: 128px;
    height: 25px;
  }

  .logo--modifier {
    display: block;
    text-align: center;
    width: 128px;
    height: 25px;
  }
}

@media (min-width: 1440px) {
  .logo__logo-img {
    margin-right: 0;
    height: 59px;
    width: 70px;
  }

  .logo__logo-img:not(:first-child):not(:last-child),
  .logo__logo-text:not(:first-child):not(:last-child) {
    margin-right: 0;
  }

  .logo__logo-text {
    width: 118px;
    height: 24px;
  }

  .logo__logo-text--modifier {
    transform: translateX(0);
    width: 128px;
    height: 24px;
  }

  .logo--modifier {
    display: block;
    text-align: center;
    width: 128px;
    height: 24px;
  }
}
/* /logo */

/* main-nav */
.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav__toggle {
  border: none;
  text-decoration: none;

  padding: 0;
  position: absolute;
  right: 21px;
  top: 23px;
  display: block;
  cursor: pointer;
  z-index: 2;
  background-color: #ffffff;

  &:not(:disabled):hover,
  &:not(:disabled):active {
    opacity: 0.6;
  }
}

.main-nav__toggle:disabled {
  cursor: default;
}

.main-nav--opened .main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  position: absolute;
  background: #ffffff;
  z-index: 2;
  transform: translateX(-20px);
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  mask-image: url("icons/main-nav__toggle-close.svg");
  mask-repeat: no-repeat;
  mask-size: 23px 20px;
  background-color: #4c41e9c9;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  mask-image: url("icons/main-nav__toggle.svg");
  mask-repeat: no-repeat;
  mask-size: 24px 24px;
  background-color: #4c41e9c9;
  transform: translate(1px, -2px);
}

.main-nav--closed .site-list__item {
  display: none;
}

.main-nav--nojs .site-list__item,
.main-nav--nojs .main-nav__list {
  padding: 0;
  list-style: none;

  display: flex;
  position: static;
  margin: 0 auto;
}

.main-nav--nojs .main-nav__toggle::before {
  display: none;
}

.main-nav--nojs .site-list__item::before {
  display: none;
}

.main-nav--closed .main-nav__list,
.main-nav--closed .site-list__item {
  display: none;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav--opened .main-nav__list,
  .main-nav--closed .main-nav__list {
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 437px;
    margin-top: 13px;
    gap: 34px;
  }

  .main-nav--opened .site-list__item,
  .main-nav--closed .site-list__item {
    display: flex;
    flex-flow: row wrap;
    left: 0;
  }
}

@media (min-width: 1440px) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav--opened .main-nav__list,
  .main-nav--closed .main-nav__list {
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 720px;
    margin-top: 12px;
    gap: 34px;
  }

  .main-nav--opened .site-list__item,
  .main-nav--closed .site-list__item {
    display: flex;
    flex-flow: row wrap;
    left: 0;
  }
}

/* /main-nav */

/* site-list */
.site-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site-list__item {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  position: relative;
  flex-shrink: 0;
}

.site-list__item::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #ebebeb;
}

.site-list__item:last-child::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #ebebeb;
}

.site-list__navigation-link {
  text-decoration: none;

  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #4c41e9c9;

  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 22px 0 24px;
  width: 320px;
  text-align: center;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .site-list__item {
    min-height: 34px;
    max-width: 154px;
  }

  .site-list__item::before,
  .site-list__item:last-child::after {
    display: none;
  }

  .site-list__navigation-link {
    padding: 0;
    width: 100%;
    font-size: 20px;
    line-height: 26px;
    color: #4c41e9c9;
  }
}

@media (min-width: 1440px) {
  .site-list {
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }

  .site-list__item {
    max-width: 475px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 33px;
  }

  .site-list__item::before,
  .site-list__item:last-child::after {
    display: none;
  }

  .site-list__navigation-link {
    padding: 0;
    width: 100%;
    font-size: 23px;
    line-height: 28px;
    color: #4c41e9c9;
  }

  .site-list__item:first-child {
    margin-right: 33px;
  }

  .site-list__item:last-child {
    margin-right: 0;
  }
}
/* /site-list */

/* main-footer */
.main-footer {
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 39px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 40px;
}

.main-footer__logo-wrapper {
  height: 25px;
}

.main-footer__logo {
  width: 128px;
  height: 24px;
}

.main-footer__logo-company {
  text-decoration: none;
  position: relative;
  display: block;
  width: 280px;
  min-height: 34px;
}

.main-footer__social {
  position: relative;
  display: block;
  width: 280px;
  min-height: 22px;
}

.main-footer__social::before {
  position: absolute;
  z-index: 2;
  content: "";
  display: block;
  width: 280px;
  margin: 0 auto;
  height: 1px;
  background: #d9d9d9;
  top: -21px;
}

.main-footer__logo-company::before {
  position: absolute;
  z-index: 2;
  content: "";
  display: block;
  width: 280px;
  margin: 0 auto;
  height: 1px;
  background: #d9d9d9;
  top: -21px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .main-footer__wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 55px 30px;
    display: grid;
    grid-template-columns: 1fr 128px 160px 132px 120px 168px 1fr;
    grid-auto-rows: auto;
    grid-template-rows: 1fr;
    min-height: 37px;
    text-align: left;
    justify-content: start;
    gap: 0;
  }

  .main-footer__logo-wrapper {
    grid-column: 2 / 3;
    grid-row: -1 / 1;
    width: 128px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .main-footer__logo-company-wrapper {
    grid-column: 6 / 7;
    grid-row: -1 / 1;
    width: 168px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .main-footer__logo-company {
    justify-content: flex-end;
    width: 168px;
    min-height: 37px;
  }

  .main-footer__social {
    width: 132px;
    grid-column: 4 / 5;
    grid-row: -1 / 1;
  }

  .main-footer__social::before,
  .main-footer__logo-company::before {
    display: none;
  }
}

@media (min-width: 1440px) {
  .main-footer__wrapper {
    padding: 66px 110px;
    width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 128px 416px 132px 376px 168px 1fr;
    grid-auto-rows: auto;
    grid-template-rows: 1fr;
    min-height: 37px;
    text-align: left;
    align-items: center;
    gap: 0;
  }

  .main-footer__logo-wrapper {
    grid-column: 2 / 3;
    grid-row: -1 / 1;
    width: 128px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .main-footer__logo-company-wrapper {
    grid-column: 6 / 7;
    grid-row: -1 / 1;
    width: 168px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .main-footer__logo-company {
    justify-content: flex-end;
    width: 168px;
    min-height: 37px;
  }

  .main-footer__social {
    width: 132px;
    grid-column: 4 / 5;
    grid-row: -1 / 1;
  }

  .main-footer__social::before,
  .main-footer__logo-company::before {
    display: none;
  }
}
/* /main-footer */

/* social */
.social {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.social__item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.social__social-link-vk {
  &::before {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    mask-image: url("icons/vk.svg");
    mask-size: 28px 22px;
    mask-repeat: no-repeat;
    background-color: #666666;
  }
}

.social__social-link-hh {
  &::before {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    mask-image: url("icons/telegram.svg");
    mask-size: 28px 22px;
    mask-repeat: no-repeat;
  }
}

.social__social-link-vk:hover::before,
.social__social-link-telegram:hover::before,
.social__social-link-vk:focus::before,
.social__social-link-telegram:focus::before {
  background-color: #d9d9d9;
}

.social__social-link-vk:active::before,
.social__social-link-telegram:active::before {
  opacity: 0.3;
}
/* /social */

.main__candidate-info,
.main__candidate-education,
.main__candidate-courses {
  margin: 0 auto;
  width: 320px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .main__candidate-info,
  .main__candidate-education,
  .main__candidate-courses {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .main__candidate-info,
  .main__candidate-education,
  .main__candidate-courses {
    width: 1440px;
    margin: 0 auto;
  }
}

/* candidate-info */
/* candidate-education */
.candidate-info__wrapper,
.candidate-education__wrapper {
  padding: 0 20px;
  margin-bottom: 30px;
  display: block;
  list-style: none;
}

.candidate-info__list,
.candidate-education__list {
  padding: 20px;
  margin-top: 0;
  list-style: none;
  background-color: #d9d9d96e;
  margin-bottom: 20px;
}

.candidate-info__list:last-child,
.candidate-educationo__list:last-child {
  margin-bottom: 0;
}

.candidate-info__heading,
.candidate-education__heading {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;

  background: #ffffff;
  font-size: 24px;

  line-height: 24px;
  width: 160px;
  padding-left: 20px;
  padding-right: 20px;

  padding-top: 25px;
  margin-bottom: 36px;
  background-color: #ffffff;
  box-shadow:
    40px 0 0 0 #ffffff,
    -20px 0 0 0 #ffffff;
  position: relative;
}

.candidate-info__heading::before,
.candidate-education__heading::before {
  content: "";
  display: block;
  position: absolute;
  top: 36px;
  right: 0;
  width: 100vw;
  height: 2px;
  background: #d9d9d9;
  z-index: -1;
  box-shadow: 100vw 0 0 0 #d9d9d9;
}

.candidate-info__item,
.candidate-education__item {
  padding-top: 19px;
  margin-bottom: 19px;
}

.candidate-info__img {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 280px;
  min-height: 290px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .candidate-info__wrapper,
  .candidate-education__wrapper {
    padding: 0 30px;
    margin-top: 0;
    margin-bottom: 50px;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto 1fr;
  }

  .candidate-info__list,
  .candidate-education__list {
    width: 388px;
    grid-row: 2 / 2;
    grid-column: 1 / 2;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #eef2f7;
  }

  .candidate-education__list--first {
    width: 344px;
    grid-row: 2 / 2;
    grid-column: 1 / 2;
  }

  .candidate-education__list--second {
    width: 344px;
    grid-row: 2 / 2;
    grid-column: 2 / 2;
  }

  .candidate-info__item,
  .candidate-education__item {
    display: flex;
    width: 100%;
    min-height: 50px;
    margin-top: 0;
    gap: 5px;
  }

  .candidate-info__heading,
  .candidate-education__heading {
    grid-row: 1 / 2;
    grid-column: -1 / 1;
    display: block;
    background: #ffffff;
    font-size: 32px;
    line-height: 32px;
    width: 250px;
    min-height: 32px;
    padding-top: 15px;
    margin-bottom: 30px;
    padding-left: 40px;
    box-shadow:
      0 0 0 0 #ffffff,
      0 0 0 0 #ffffff;
  }

  .candidate-info__heading::before,
  .candidate-education__heading::before {
    top: 35px;
  }

  .candidate-info__img {
    border: solid 2px #d9d9d96e;
    background-color: #eef2f7;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .candidate-info__wrapper,
  .candidate-education__wrapper {
    padding: 0 110px;
    margin-top: 0;
    margin-bottom: 56px;
    column-gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto 1fr;
  }

  .candidate-info__list,
  .candidate-education__list {
    width: 885px;
    grid-row: 2 / 2;
    grid-column: 1 / 2;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #eef2f7;
  }

  .candidate-education__list--first {
    width: 595px;
    grid-row: 2 / 2;
    grid-column: 1 / 2;
  }

  .candidate-education__list--second {
    width: 595px;
    grid-row: 2 / 2;
    grid-column: 2 / 2;
  }

  .candidate-info__item,
  .candidate-education__item {
    display: flex;
    width: 100%;
    min-height: 50px;
    margin-top: 0;
    gap: 5px;
  }

  .candidate-info__heading,
  .candidate-education__heading {
    grid-row: 1 / 2;
    grid-column: -1 / 1;
    display: block;
    background: #ffffff;
    font-size: 60px;
    line-height: 60px;
    width: 300px;
    min-height: 40px;
    padding-top: 45px;
    padding-left: 40px;
    margin-bottom: 75px;
    position: relative;
    box-shadow:
      0 0 0 0 #ffffff,
      0 0 0 0 #ffffff;
  }

  .candidate-info__heading::before,
  .candidate-education__heading::before {
    display: block;
    content: "";
    position: absolute;
    top: 70px;
    right: 0;
    width: 100vw;
    height: 2px;
    background: #d9d9d9;
    z-index: -1;
    box-shadow: 100vw 0 0 0 #d9d9d9;
  }

  .candidate-info__img {
    border: solid 2px #d9d9d96e;
    background-color: #eef2f7;
    width: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 290px;
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    margin-top: 0;
    margin-bottom: 0;
  }
}
/* /candidate-info */
/* /candidate-education */

/* additional */
.additional {
  position: relative;
}

.additional::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #d9d9d96e;
  top: 0;
}

.additional--modifier-first::before {
  transform: translateY(-2px);
}

.additional--modifier-second::before {
  margin-top: -2px;
}

.additional__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 16px;
  line-height: 16px;
  color: #222222;
  padding-top: 13px;
  margin-bottom: 13px;
}

.additional__value {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #4c41e9c9;

  text-transform: uppercase;

  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.additional__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .additional {
    padding-top: 10px;
    margin-bottom: 10px;
    align-items: center;
  }

  .additional:last-child {
    margin-bottom: 0;
  }

  .additional__title {
    overflow-wrap: normal;
    grid-column: 1 / 2;
    margin: 0;
    padding: 0 10px;
    font-size: 20px;
    line-height: 20px;
    width: 40%;
    min-height: 25px;
  }

  .additional__value {
    overflow-wrap: normal;
    grid-column: 2 / 2;
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    width: 60%;
    padding: 0 10px;
  }

  .additional:last-child::after {
    bottom: 0;
  }
}

@media (min-width: 1440px) {
  .additional {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    margin-bottom: 20px;
    align-items: center;
  }

  .additional:last-child {
    margin-bottom: 0;
  }

  .additional__title {
    padding: 20px;
    overflow-wrap: normal;
    grid-column: 1 / 2;
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    width: 245px;
    min-height: 25px;
  }

  .additional__value {
    padding: 20px;
    overflow-wrap: normal; /* важно перенос слов в местах пробелов */
    /* hyphens:auto;важно перенос строк по правилам языка */
    grid-column: 2 / 2;
    margin: 0;
    font-size: 25px;
    line-height: 29px;
    width: 350px;
  }

  .additional:last-child::after {
    bottom: 0;
  }
}
/* /additional */

/* candidate-courses */
.candidate-courses {
  padding-top: 20px;
  padding-bottom: 49px;
}

.candidate-courses__wrapper {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.candidate-courses__heading {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000;

  background: #ffffff;
  font-size: 24px;

  line-height: 24px;
  width: 120px;
  padding-left: 20px;
  padding-right: 20px;

  padding-top: 25px;
  margin-bottom: 36px;
  background-color: #ffffff;
  box-shadow:
    40px 0 0 0 #ffffff,
    -20px 0 0 0 #ffffff;
  position: relative;
}

.candidate-courses__heading::before {
  content: "";
  display: block;
  position: absolute;
  top: 36px;
  right: 0;
  width: 100vw;
  height: 2px;
  background: #d9d9d9;
  z-index: -1;
  box-shadow: 100vw 0 0 0 #d9d9d9;
}

.candidate-courses__list {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-shrink: 0;
  padding: 0;
}

.candidate-courses__item {
  min-height: 60px;
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.candidate-courses__paragraph {
  margin: 0;
  width: 200px;
}

.candidate-courses__item::before {
  display: block;
  content: "";
  width: 60px;
  height: 60px;
  background-color: #4c41e9c9;
  background-image: url("icons/candidate-courses__item-first.svg");
  background-size: 30px 32px;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .candidate-courses__wrapper {
    width: 768px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .candidate-courses__heading {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 32px;
    width: 140px;
  }

  .candidate-courses__heading::before {
    content: "";
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100vw;
    height: 3px;
    background: #d9d9d9;
    z-index: -1;
    box-shadow: 100vw 0 0 0 #d9d9d9;
  }

  .candidate-courses__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(344px, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 20px;
  }

  .candidate-courses__item {
    display: flex;
    width: 100%;
    min-height: 50px;
    margin-top: 0;
    gap: 5px;

    padding: 0;
    counter-increment: chapter 1;
    position: relative;
  }

  .candidate-courses__item::after {
    margin: 0;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    width: 100%;
    font-size: 280px;
    line-height: 280px;
    color: #ffffff;
    content: counter(chapter);
    top: 0;
    padding-left: 115px;
    z-index: -1;
  }

  .candidate-courses__paragraph {
    width: 246px;
    min-height: 72px;
    font-size: 16px;
    line-height: 24px;
    z-index: 2;
  }

  .candidate-courses__item::before {
    width: 80px;
    height: 80px;
    mask-size: 30px 32px;
    top: 0;
  }
}

@media (min-width: 1440px) {
  .candidate-courses__wrapper {
    width: 1440px;
    padding: 0 110px;
    margin: 0 auto;
  }

  .candidate-courses {
    padding-top: 71px;
    padding-bottom: 40px;
  }

  .candidate-courses__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 18px;
  }

  .candidate-courses__item {
    width: 350px;
    min-height: 280px;
    padding: 0;
    counter-increment: chapter 1;
    position: relative;
    display: block;
    z-index: 2;
  }

  .candidate-courses__item::after {
    margin: 0;
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    width: 112px;
    min-height: 150px;
    font-size: 150px;
    line-height: 150px;
    color: #f2f2f2;
    content: counter(chapter);
    top: 0;
    padding-left: 115px;
    z-index: -1;
  }

  .candidate-courses__heading {
    width: 250px;
    font-size: 60px;
    line-height: 60px;
    padding-top: 5px;
    padding-left: 40px;
    margin-bottom: 75px;
  }

  .candidate-courses__paragraph {
    width: 350px;
    min-height: 72px;
    font-size: 16px;
    line-height: 24px;
  }

  .candidate-courses__paragraph-nowrap {
    white-space: nowrap;
  }

  .candidate-courses__item::before {
    margin-top: 40px;
    margin-bottom: 31px;
    width: 80px;
    height: 80px;
    mask-size: 30px 32px;
  }
}

/* /candidate-courses */
/* originality */
.originality {
  position: relative;
}

.originality::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #d9d9d96e;
  top: 0;
}

.originality--modifier-first::before {
  transform: translateY(-2px);
}

.originality--modifier-second::before {
  margin-top: -2px;
}

.originality__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 16px;
  line-height: 16px;
  color: #222222;
  padding-top: 13px;
  margin-bottom: 13px;
}

.originality__value {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  color: #4c41e9c9;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.originality__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  width: 100%;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .originality {
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
  }

  .originality:last-child {
    margin-bottom: 0;
  }

  .originality__title {
    padding: 10px 10px 0;
    margin-bottom: 10px;
    overflow-wrap: normal;

    font-size: 20px;
    line-height: 20px;
    width: 100%;
    min-height: 30px;
  }

  .originality__value {
    padding: 10px 10px 0;
    margin-bottom: 10px;
    overflow-wrap: normal;
    font-size: 15px;
    line-height: 20px;
    width: 100%;
  }

  .originality:last-child::after {
    bottom: 0;
  }
}

@media (min-width: 1440px) {
  .originality {
    padding: 20px;
    margin-bottom: 20px;
    align-items: center;
  }

  .originality:last-child {
    margin-bottom: 0;
  }

  .originality__title {
    padding: 20px 20px 0;
    margin-bottom: 10px;
    overflow-wrap: normal;
    font-size: 30px;
    line-height: 30px;
    width: 100%;
    min-height: 25px;
  }

  .originality__value {
    padding: 20px 20px 0;
    margin-bottom: 10px;
    overflow-wrap: normal;
    font-size: 25px;
    line-height: 29px;
    width: 100%;
  }

  .originality::before {
    display: none;
  }

  .originality:last-child::after {
    bottom: 0;
  }
}
/* /originality */
